.bod {
  background-color: black;
}

@font-face {
    font-family:"myfont";
    src: url("./pic/MostlyMono.ttf") format("truetype");
    unicode-range: U+00-024F;
}

@font-face {
    font-family:"myfont";
    src: url("./pic/SentyPea.ttf") format("truetype");
    unicode-range: U+4E00-9FFF;
}