.bod {
  background-color: black;
}

@font-face {
    font-family:"MostlyMono";
    src: url("./pic/MostlyMono.ttf") format("truetype");
}

@font-face {
    font-family:"SentyPea";
    src: url("./pic/SentyPea.ttf") format("truetype");
}