body {
    overflow-x: hidden;
}


#title {
    background-image: url('../pic/polaris2.png');
    background-size: 100% 100%;
    width: 80vh;
    height:20vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.panel {
    padding-top: 4vh;
    background-image: url('../pic/night.jpg');
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    color: azure;
    text-align: center;
    z-index: 0;
    padding-bottom: 0;
}

#about {
    height: auto;
    min-height: 100vh;
    padding-bottom: 3vh;
    font-size: 1.7vw;
    font-family: myfont;
    background-image: None;
    background-color: #050413;
    color: #B9B8BC;

}

.panelTitle {
    position: relative;
    margin-top: 4vh;
    display: inline-block;
    font-size: 4vw;
    font-family: myfont;
    text-decoration: bold;
}

/* MEMBERS */

#group {
    position: absolute;
    left: 25vw;
    width: 50vw;
    height: 38vw;
}

.mem {
    /* border: solid red 2px; */
    border-radius: 100%;
    position: absolute;
    width: 7vw;
    height: 7vw;   
    z-index: 98; 
}

#tenor {
    left: 34vw;
    margin-top: 4vw;
}

#tenor:hover ~ #t_tenor {
    visibility: visible;
}

#sop {
    left: 39vw;
    margin-top: 12vw;
}

#sop:hover ~ #t_sop {
    visibility: visible;
}

#bass {
    width: 5.5vw;
    height: 5.5vw;
    left: 44vw;
    margin-top: 7vw;
}

#bass:hover ~ #t_bass {
    visibility: visible;
}

#mezzo {
    left: 51vw;
    margin-top: 14vw;
}

#mezzo:hover ~ #t_mezzo {
    visibility: visible;
}

#vp {
    width: 6vw;
    height: 6vw;
    left:53vw;
    margin-top: 7.5vw;
}

#vp:hover ~ #t_vp {
    visibility: visible;
}

#alto {
    left: 62vw;
    margin-top: 5vw;
}

#alto:hover ~ #t_alto {
    visibility: visible;
}

.descr {
    border-radius: 20px; 
    position: absolute;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;   
    z-index: 90; 
    left: 29vw;
    margin-top: 55vh;
    left: 50vw;
    align-content: center;
    font-size: 2.6vh;
    padding: 1vh;
    visibility: hidden;
    font-family: myfont;
}

/* GALLERY */

#myCarousel {
    width: 100%;
    height: 80%;
}

.slide {
    height: 34vw;
    width: 45vw;
}

/* LISTEN */

.vid {
    display: inline-block;
    width: 45vw;
    padding: 2vw;
    height: 30vw;
}

#listen {
    height:auto;
    min-height: 100vh;
    background-repeat: repeat-y;
}

#word {
    font-family: myfont;
    font-size:1.5vw;
}

/* SHOWS */

table {
    display: inline-block;
    font-size: 2vw;
    font-family: myfont;
}
td {
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

tr:nth-child(1) {
    background-color: #f2f2f2;
    color: black;
}

table, th, td {
    border: 1px solid white;
}

.show_det {
    text-decoration: None;
    color:white;
}

.show_det:hover {
    color:white;
}


@keyframes shooting-star {
    0% {
      opacity:1;transform:scale(0) translate3d(0, 0, 0)
    }
    15% {opacity:1}
    25% {opacity:0;transform:scale(1) translate3d(60vw, 0, 0)}
    100% {opacity:0;transform:scale(0) translate3d(60vw, 0, 0)}
}
.shooting-star {
    position:absolute;
    left:10%;
    top:10%;
    transform:rotate(30deg);
    pointer-events:none;
}
.shooting-star img{
    opacity:0;
    animation-delay:0;
    animation: shooting-star 6s infinite ease-out
}
.shooting-star-right{
    position:absolute;
    left:80%;
    top:80%;
    width:130px;
    transform:rotate(-235deg);
    pointer-events:none
}
.shooting-star-right img {
      opacity:0;
      animation: shooting-star 6s 5s infinite ease-out;
      animation-delay:0s;
}
