
#logo {
    margin-left: 2vh;
    /* margin-right: 2vh;  */
    height: 4vh;
}

#header {
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    vertical-align: middle;
    text-align: justify;
    z-index: 99;
    top: 0;
    height: 7vh;
}

#footer {
    z-index: 99;
    top: 94vh;
    color: white;
    height: 6vh;
    padding-top: 0.5vh;
    padding-bottom: 2vh;
    padding-left: 2vw; 
    font-size: 3vh;
}

.sticky {
    position: fixed;
    width: 100%;
    background-color: black;
}



.Navs {
    display: inline-block;
    color: white;
    flex-wrap: wrap;
}

.Button {
    font-size: 4vh;
    margin-left: 6vw;
    margin-right: 0vh;
    text-decoration: none;
    padding: 0.2vw;
    font-family: MostlyMono;
    height: 5.5vh;
}

.Button:hover {
    background-color: #AAAAAA;
    border-radius: 5px;
    text-decoration: none;
    color:black;
}

#info {
    position: absolute;
    right: 0vw;
}

.footerdiv {
    font-size: 2vw;
    display: inline-block;
    font-family: MostlyMono;
    margin-right: 2vw;
}

